# Python libs
**/__pycache__/
*.py[cod]
*$py.class
**/*.pyc

# Environment Files
.env
**/.env

# Data & Storage
**/data/documents/
**/data/faiss_index/
**/data/uploads/
**/yfinance_data/
**/*.csv
**/*.xlsx
**/*.pdf
**/*.docx

# Secrets
**/credentials.json

# IDEs
.vscode/
.idea/
.gemini/

# OS files
.DS_Store
Thumbs.db
